* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
}

video {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

p {
  margin-top: 24px;
  color: #ffffff;
  line-height: 32px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  height: 100vh;
}

.logo {
  height: 200px;
}

.img-mario {
  height: 400px;
}

.btn-contact {
  color: #ffffff;
  background-color: #c51111;
  padding: 15px 10px;
  border: 1px solid #d02718;
  border-radius: 5px;
  margin-top: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  text-decoration: none;
  font-size: 12px;
}

.btn-contact:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
  font-size: 13px;
  transition: 0.4s ease-out;
}

.box-principal {
  width: 40%;
}

.box-video {
  position: fixed;
  z-index: -1;
  top: 0;
}

.mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
}

.link-whatsapp img {
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 30px;
}

.header img {
  height: 50px;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.header a:hover {
  color: rgba(197, 17, 17, 0.9);
  font-size: 17px;
  transition: 0.4s ease-in-out;
}

.form-contact {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  border-radius: 5px;
  padding: 20px;
  top: 30%;
  left: -300px;
  gap: 5px;
}

/* .mask-form {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
} */

input {
  height: 25px;
  border: 1px solid gray;
  border-radius: 5px;
  outline-color: rgba(197, 17, 17, 0.9);
}

textarea {
  width: 270px;
  height: 100px;
  border: 1px solid gray;
  border-radius: 5px;
  outline-color: rgba(197, 17, 17, 0.9);
}
