* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
}

video {
  width: 100vw;
}

p {
  margin-top: 24px;
  color: #ffffff;
  line-height: 32px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  height: 100vh;
}

.logo {
  height: 200px;
}

.img-mario {
  height: 400px;
}

.btn-contact {
  color: #ffffff;
  background-color: #c51111;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  letter-spacing: 1px;
}

.box-principal {
  width: 40%;
}

.box-video {
  position: fixed;
  z-index: -1;
  top: 0;
}

.mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
}
